<!DOCTYPE html>

<body ng-app="rogueLikeLike">
    <head>
        <title>Rogue Like Like</title>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" href="/images/crap_sword.png" />
    </head>
    <div ng-controller="MainController">
        <h1>ROGUE LIKE LIKE</h1>

        <canvas width="{{ board.xLimit }}" height="{{ board.yLimit }}" game-board  style="border:1px solid black">
        </canvas>
        <div ng-controller="MessagesController">
            <pre ng-repeat="msg in view.messages">{{ msg }}</pre>
            <div ng-init="viewRawData=false">
                <button ng-click="viewRawData = !(viewRawData)"> View Raw Data: {{ viewRawData }}</button>
                <span ng-show="viewRawData">
                    <pre>"view": {{ view | json }}</pre>
                    <pre>"board": {{ board | json }}</pre>
                </span>
            </div>
        </div>
    </div>
      <canvas id="myCanvas" width="578" height="200"></canvas>
    <script>

    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="/dist/rogue-like-like.js"></script>
</body>
